
.stack_index {
    min-width: fit-content;
    display: flex;
    min-height: 85vh;
  }
  
  .stack_index_content {
    display: flex;
    width: 100%;
    /* align-items: center; */
    /* justify-content: center; */
  }
  
.d-grid {
	display: grid !important;
}
.py8 {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

.g16 {
	gap: 16px;
}
.d-flex {
	display: flex !important;
}
.ai-center {
	align-items: center !important;
}
.jc-start {
	justify-content: flex-start !important;
}
.mbn4 {
	margin-bottom: -4px !important;
}

.badgeclass {
	padding: 0.4em 0.8em 0.4em 0.4em;
	margin: 0 3px 3px 0;
	color: hsl(0, 0%, 100%);
	line-height: 1;
	text-decoration: none;
	white-space: nowrap;
	font-size: 12px;
	background-color: hsl(210, 8%, 25%);
	border: 1px solid transparent;
	display: inline-block;
	border-radius: 4px;
}
html.html__responsive:not(.html__unpinned-leftnav) .md\:grid__2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid__4 {
	grid-template-columns: repeat(4, minmax(0, 1fr));
}
