.allquestions {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid #eee;
    width: 100%;
  }

  .allquestions__container {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    /* align-items: center; */
    /* Change */
    /* justify-content: space-between; */
    width: 100%;
  }

  .allquestions__containerLeft {
    display: flex;
    margin-right: 30px;
  }

  .allquestions__containerLeftOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: small;
  }
  
  .allquestions__containerLeftOptionsOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .allquestions__containerLeftOptionsOption > p {
    font-size: large;
  }
  
  .allquestions__containerAnswer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .allquestions__containerAnswer > a {
    color: #0151f0d8;
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .allquestions__containerAnswerr > a:hover {
    color: #1649b1d8;
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .allquestions__containerAnswer > p {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
  }

  .allquestions__containerAnswerTags{
      margin: 10px 5px;
      padding: 5px 10px;
      background-color: #0151f03d;
      border-radius: 3px;
  }
  
  .allquestions__containerAnswerAuthor {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  
  .allquestions__containerAnswerAuthor > small {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
  }
  
  .allquestions__containerAnswerAuthorDetails {
    display: flex;
    align-items: center;
  }
  
  .allquestions__containerAnswerAuthorDetails > p {
    margin-left: 5px;
    font-size: small;
    color: #0151f0d8;
  }
  