.question {
    display: flex;
    width: 100%;
    background-color: rgba(238, 238, 238, 0.568);
    height: 100%;
    justify-content: center;
  }
  
  .question__containter {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 800px;
  }
  
  .question__containterTitle {
    display: flex;
    width: 100%;
  }
  
  .question__containterTitle > h1 {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 26px;
  }
  
  .question__containterQuestion {
    display: flex;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(66, 42, 42, 0.19);
  }
  
  .question__containterQuestionOptions {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .question__containterQuestionOptionsOption {
    /* display: flex; */
    flex-direction: column;
    width: 100%;
  }
  
  .question__containterQuestionOptionsOptionTitle {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    font-size: 0.9rem;
  }
  
  .question__containterQuestionOptionsOptionTitle > h3 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
  }
  
  .question__containterQuestionOptionsOptionTitle > small {
    color: rgba(0, 0, 0, 0.8);
  }
  
  .question__containterQuestionOptionsOptionTitle > input {
    margin: 5px 0px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    outline: none;
  }
  
  .question__containterQuestionOptionsOptionTitle > input::placeholder {
    color: #ddd;
  }
  .question__containterQuestionOptionsOptionTitle > input:focus {
    border: 1px solid #0054ff;
    box-shadow: 0 4px 8px 0 #0055ff23, 0 6px 20px 0 #0055ff11;
  }
  
  .quill {
    height: 100%;
  }
  
  .question__reactQuill {
    margin: 10px 0;
    border-radius: 10px;
  }
  
  .ql-editor {
    height: 200px;
  }

  
  .question__containterButton {
    max-width: fit-content;
    margin: 10px 0px;   
    margin-bottom: 20px;
  }
  
  .question__containterButton:hover {
    background-color: #053086;
  }


  .ReactTags__tagInputField {
    margin: 5px 0px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    outline: none;
    width: 97%;
  }
  
  .ReactTags__tagInputField::placeholder {
    color: #ddd;
  }

  .ReactTags__tagInput:focus {
    border: 1px solid #0054ff;
    box-shadow: 0 4px 8px 0 #0055ff23, 0 6px 20px 0 #0055ff11;
  }
 
  